In [1]:
from mlrgetpy import Repository

In [2]:
repo = Repository()

In [3]:
repo.load()
df = repo.getData()
a:list = [1,2]
df.filter(items=[719, 691, 735, 693,683,696,690,730,613], axis="index")
df

,Name,Abstract,Area,Task,Types,DateDonated,NumHits,AttributeTypes,numInstances,numAttributes
ID,,,,,,,,,,
556,: Simulated Data set of Iraqi tourism places,Simulated Data set of Iraqi tourism places wit...,Computer,"Classification, Clustering",Multivariate,2020-01-10,304,None,232,0.0
480,2.4 GHZ Indoor Channel Measurements,"Measurement of the S21,consists of 10 sweeps, ...",Computer,Classification,Multivariate,2018-11-30,848,Real,7840,5.0
692,2D elastodynamic metamaterials,This dataset list the location and width of th...,Engineering,Regression,Tabular,2021-11-26,316,None,20521,3.0
246,"3D Road Network (North Jutland, Denmark)",3D road network with highly accurate elevation...,Computer,"Regression, Clustering","Sequential, Text",2013-04-16,475,Real,434874,0.0
540,3W dataset,The first realistic and public dataset with ra...,Computer,"Classification, Clustering","Multivariate, Time-Series",2019-08-15,723,None,1984,0.0
...,...,...,...,...,...,...,...,...,...,...
535,Youtube cookery channels viewers comments in H...,The datasets are taken from top 2 Indian cooki...,Computer,Classification,"Multivariate, Text",2019-07-03,96,None,9800,0.0
269,YouTube Multiview Video Games Dataset,"This dataset contains about 120k instances, ea...",Computer,"Classification, Clustering","Multivariate, Text",2013-10-16,410,"Integer, Real",120000,0.0
380,YouTube Spam Collection,It is a public set of comments collected for s...,Computer,Classification,Text,2017-03-26,585,,1956,0.0
412,Z-Alizadeh Sani,It was collected for CAD diagnosis.,Life,Classification,None,2017-11-17,84,"Integer, Real",303,56.0
111,Zoo,"Artificial, 7 classes of animals",Life,Classification,Multivariate,1990-05-15,25968,"Categorical, Integer",101,18.0

In [4]:
df
#df.drop([0,1])
repo.removeByIndex([556,480])

In [5]:
data = repo.getData()
data
#repo.removeByIndex([2,3])
#data2 = repo.getData()

,Name,Abstract,Area,Task,Types,DateDonated,NumHits,AttributeTypes,numInstances,numAttributes
ID,,,,,,,,,,
692,2D elastodynamic metamaterials,This dataset list the location and width of th...,Engineering,Regression,Tabular,2021-11-26,316,None,20521,3.0
246,"3D Road Network (North Jutland, Denmark)",3D road network with highly accurate elevation...,Computer,"Regression, Clustering","Sequential, Text",2013-04-16,475,Real,434874,0.0
540,3W dataset,The first realistic and public dataset with ra...,Computer,"Classification, Clustering","Multivariate, Time-Series",2019-08-15,723,None,1984,0.0
512,A study of Asian Religious and Biblical Texts,"Mainly from Project Gutenberg, we combine Upan...",Social,"Classification, Clustering","Multivariate, Text",2019-12-24,479,None,590,0.0
314,AAAI 2013 Accepted Papers,This data set compromises the metadata for the...,Computer,Clustering,Multivariate,2014-07-30,148,,150,5.0
...,...,...,...,...,...,...,...,...,...,...
535,Youtube cookery channels viewers comments in H...,The datasets are taken from top 2 Indian cooki...,Computer,Classification,"Multivariate, Text",2019-07-03,96,None,9800,0.0
269,YouTube Multiview Video Games Dataset,"This dataset contains about 120k instances, ea...",Computer,"Classification, Clustering","Multivariate, Text",2013-10-16,410,"Integer, Real",120000,0.0
380,YouTube Spam Collection,It is a public set of comments collected for s...,Computer,Classification,Text,2017-03-26,585,,1956,0.0
412,Z-Alizadeh Sani,It was collected for CAD diagnosis.,Life,Classification,None,2017-11-17,84,"Integer, Real",303,56.0
111,Zoo,"Artificial, 7 classes of animals",Life,Classification,Multivariate,1990-05-15,25968,"Categorical, Integer",101,18.0

In [6]:
data

,Name,Abstract,Area,Task,Types,DateDonated,NumHits,AttributeTypes,numInstances,numAttributes
ID,,,,,,,,,,
692,2D elastodynamic metamaterials,This dataset list the location and width of th...,Engineering,Regression,Tabular,2021-11-26,316,None,20521,3.0
246,"3D Road Network (North Jutland, Denmark)",3D road network with highly accurate elevation...,Computer,"Regression, Clustering","Sequential, Text",2013-04-16,475,Real,434874,0.0
540,3W dataset,The first realistic and public dataset with ra...,Computer,"Classification, Clustering","Multivariate, Time-Series",2019-08-15,723,None,1984,0.0
512,A study of Asian Religious and Biblical Texts,"Mainly from Project Gutenberg, we combine Upan...",Social,"Classification, Clustering","Multivariate, Text",2019-12-24,479,None,590,0.0
314,AAAI 2013 Accepted Papers,This data set compromises the metadata for the...,Computer,Clustering,Multivariate,2014-07-30,148,,150,5.0
...,...,...,...,...,...,...,...,...,...,...
535,Youtube cookery channels viewers comments in H...,The datasets are taken from top 2 Indian cooki...,Computer,Classification,"Multivariate, Text",2019-07-03,96,None,9800,0.0
269,YouTube Multiview Video Games Dataset,"This dataset contains about 120k instances, ea...",Computer,"Classification, Clustering","Multivariate, Text",2013-10-16,410,"Integer, Real",120000,0.0
380,YouTube Spam Collection,It is a public set of comments collected for s...,Computer,Classification,Text,2017-03-26,585,,1956,0.0
412,Z-Alizadeh Sani,It was collected for CAD diagnosis.,Life,Classification,None,2017-11-17,84,"Integer, Real",303,56.0
111,Zoo,"Artificial, 7 classes of animals",Life,Classification,Multivariate,1990-05-15,25968,"Categorical, Integer",101,18.0

In [7]:
import pandas as pd
repo = Repository()
repo.load()
data = repo.getData()

In [8]:
data1 = data.filter(items=[556], axis="index")

In [9]:
index = 556
if index in data.index:
    data.drop(index, axis="index", inplace=True)
data
data = pd.concat([data, data1])
data.filter(items=[556], axis="index")

,Name,Abstract,Area,Task,Types,DateDonated,NumHits,AttributeTypes,numInstances,numAttributes
ID,,,,,,,,,,
556,: Simulated Data set of Iraqi tourism places,Simulated Data set of Iraqi tourism places wit...,Computer,"Classification, Clustering",Multivariate,2020-01-10,304,None,232,0.0

##

### Add By IDs

In [10]:
repo = Repository()
repo.addByIDs([556, 558,559, 608])

In [11]:
repo.getData()

,Name,Abstract,Area,Task,Types,DateDonated,NumHits,AttributeTypes,numInstances,numAttributes
ID,,,,,,,,,,
556,: Simulated Data set of Iraqi tourism places,Simulated Data set of Iraqi tourism places wit...,Computer,"Classification, Clustering",Multivariate,2020-01-10,304,None,232,0.0
558,Monolithic Columns in Troad and Mysia Region,These data have been constituted to clarify th...,Computer,Classification,Multivariate,2020-02-08,105,None,11,0.0
559,Bar Crawl: Detecting Heavy Drinking,Accelerometer and transdermal alcohol content ...,Life,"Classification, Regression","Multivariate, Time-Series",2020-02-24,84,None,14057567,0.0
608,Traffic Flow Forecasting,The task for this dataset is to forecast the s...,Engineering,Regression,Multivariate,2021-06-18,3303,None,2101,0.0

# Show Data

In [12]:
repo.showData()

Name : : Simulated Data set of Iraqi tourism places
DataSet Characteristic : Multivariate
Subject Area : Computer
Associated Task : Classification, Clustering
Date Donated : 2020-01-10
Instances : 232
Attributes : 0.0
Views : 304
Abstract: Simulated Data set of Iraqi tourism places with their position (longitude,latitude)and type of interest for each place
-----------------------------
Name : Monolithic Columns in Troad and Mysia Region
DataSet Characteristic : Multivariate
Subject Area : Computer
Associated Task : Classification
Date Donated : 2020-02-08
Instances : 11
Attributes : 0.0
Views : 105
Abstract: These data have been constituted to clarify the distribution in Northwestern Anatolia of the monolithic columns produced in the ancient granite quarries located in Troad and Mysia Regions.
-----------------------------
Name : Bar Crawl: Detecting Heavy Drinking
DataSet Characteristic : Multivariate, Time-Series
Subject Area : Life
Associated Task : Classification, Regression
Date Donated : 2020-02-24
Instances : 14057567
Attributes : 0.0
Views : 84
Abstract: Accelerometer and transdermal alcohol content data from a college bar crawl. Used to predict heavy drinking episodes via mobile data.
-----------------------------
Name : Traffic Flow Forecasting
DataSet Characteristic : Multivariate
Subject Area : Engineering
Associated Task : Regression
Date Donated : 2021-06-18
Instances : 2101
Attributes : 0.0
Views : 3303
Abstract: The task for this dataset is to forecast the spatio-temporal traffic volume based on the historical traffic volume and other features in neighboring locations.
-----------------------------

# LOG Option

In [10]:
repo = Repository(log="Normal")
repo.addByIDs([53])

adding IDs [53]
[using caching] response-html.pkl

In [11]:
df = repo.download()

[create link path] parent url: /ml/machine-learning-databases/
                  current_url: https://archive.ics.uci.edu/ml/machine-learning-databases/iris/
                  name folder: repo_download\53_[Iris]
[create link path] parent url: /ml/machine-learning-databases/iris/
                  current_url: https://archive.ics.uci.edu/ml/machine-learning-databases/iris/Index
                  name folder: repo_download\53_[Iris]\Index
[create link path] parent url: /ml/machine-learning-databases/iris/
                  current_url: https://archive.ics.uci.edu/ml/machine-learning-databases/iris/bezdekIris.data
                  name folder: repo_download\53_[Iris]\bezdekIris.data
[create link path] parent url: /ml/machine-learning-databases/iris/
                  current_url: https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data
                  name folder: repo_download\53_[Iris]\iris.data
[create link path] parent url: /ml/machine-learning-databases/iris/
                  current_url: https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.names
                  name folder: repo_download\53_[Iris]\iris.names
┌────────────────────────────────────────────────────────────────────────────────────────┐
│53_[Iris]                                                                               │
├────────────────────────────────────────────────────────────────────────────────────────┤
│https://archive.ics.uci.edu/ml/machine-learning-databases/iris/                         │
[saving file] url: https://archive.ics.uci.edu/ml/machine-learning-databases/iris/Index
        directory: repo_download\53_[Iris]
            last?: False
│├──Index                           0.0 bytes         [                        ]0%       │
│├──Index                           105.0 bytes       [━━━━━━━━━━━━━━━━━━━━━━━━]100%     │
[saving file] url: https://archive.ics.uci.edu/ml/machine-learning-databases/iris/bezdekIris.data
        directory: repo_download\53_[Iris]
            last?: False
│├──bezdekIris.data                 0.0 bytes         [                        ]0%       │
│├──bezdekIris.data                 4.4 KB            [━━━━━━━━━━━━━━━━━━━━━━━━]100%     │
[saving file] url: https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data
        directory: repo_download\53_[Iris]
            last?: False
│├──iris.data                       0.0 bytes         [                        ]0%       │
│├──iris.data                       4.4 KB            [━━━━━━━━━━━━━━━━━━━━━━━━]100%     │
[saving file] url: https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.names
        directory: repo_download\53_[Iris]
            last?: True
│└──iris.names                      0.0 bytes         [                        ]0%       │
│└──iris.names                      2.9 KB            [━━━━━━━━━━━━━━━━━━━━━━━━]100%     │
└────────────────────────────────────────────────────────────────────────────────────────┘

In [12]:
df[53]

{'bezdekIris.data':      sepal length  sepal width  petal length  petal width           class
 0             5.1          3.5           1.4          0.2     Iris-setosa
 1             4.9          3.0           1.4          0.2     Iris-setosa
 2             4.7          3.2           1.3          0.2     Iris-setosa
 3             4.6          3.1           1.5          0.2     Iris-setosa
 4             5.0          3.6           1.4          0.2     Iris-setosa
 ..            ...          ...           ...          ...             ...
 145           6.7          3.0           5.2          2.3  Iris-virginica
 146           6.3          2.5           5.0          1.9  Iris-virginica
 147           6.5          3.0           5.2          2.0  Iris-virginica
 148           6.2          3.4           5.4          2.3  Iris-virginica
 149           5.9          3.0           5.1          1.8  Iris-virginica

 [150 rows x 5 columns],
 'iris.data':      sepal length  sepal width  petal length  petal width           class
 0             5.1          3.5           1.4          0.2     Iris-setosa
 1             4.9          3.0           1.4          0.2     Iris-setosa
 2             4.7          3.2           1.3          0.2     Iris-setosa
 3             4.6          3.1           1.5          0.2     Iris-setosa
 4             5.0          3.6           1.4          0.2     Iris-setosa
 ..            ...          ...           ...          ...             ...
 145           6.7          3.0           5.2          2.3  Iris-virginica
 146           6.3          2.5           5.0          1.9  Iris-virginica
 147           6.5          3.0           5.2          2.0  Iris-virginica
 148           6.2          3.4           5.4          2.3  Iris-virginica
 149           5.9          3.0           5.1          1.8  Iris-virginica

 [150 rows x 5 columns]}

In [13]:
repo.showData()

                                                     Data Set
┏━━━━┳━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃ ID ┃ Na… ┃ Abstract                                                                                             ┃
┡━━━━╇━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┩
│ 53 │ Ir… │ A small classic dataset from Fisher, 1936. One of the earliest datasets used for evaluation of class │
└────┴─────┴──────────────────────────────────────────────────────────────────────────────────────────────────────┘