In [1]:
from mlrgetpy.Repository import Repository

In [2]:
repo = Repository()

In [3]:
repo.load()

In [4]:
df = repo.getData()
a:list = [1,2]
df

,userID,introPaperID,Name,Abstract,Area,Task,Types,DOI,DateDonated,isTabular,...,URLReadme,URLLink,Graphics,Status,NumHits,AttributeTypes,numInstances,slug,tabular,user
ID,,,,,,,,,,,,,,,,,,,,,
556,1,NaN,: Simulated Data set of Iraqi tourism places,Simulated Data set of Iraqi tourism places wit...,Computer,"Classification, Clustering",Multivariate,None,2020-01-10,False,...,#,None,None,APPROVED,301,None,232,simulated+data+set+of+iraqi+tourism+places,{'numAttributes': 0},"{'user': 'dwjiang@uci.edu', 'firstName': 'Dani..."
480,1,NaN,2.4 GHZ Indoor Channel Measurements,"Measurement of the S21,consists of 10 sweeps, ...",Computer,Classification,Multivariate,None,2018-11-30,True,...,#,None,None,APPROVED,847,Real,7840,2+4+ghz+indoor+channel+measurements,{'numAttributes': 5},"{'user': 'dwjiang@uci.edu', 'firstName': 'Dani..."
692,407,2287.0,2D elastodynamic metamaterials,This dataset list the location and width of th...,Engineering,Regression,Tabular,None,2021-11-26,True,...,None,None,/ml/datasets/692/Graphics,APPROVED,310,None,20521,2d+elastodynamic+metamaterials,{'numAttributes': 3},"{'user': 'maba9452@colorado.edu', 'firstName':..."
246,1,NaN,"3D Road Network (North Jutland, Denmark)",3D road network with highly accurate elevation...,Computer,"Regression, Clustering","Sequential, Text",None,2013-04-16,False,...,#,None,None,APPROVED,470,Real,434874,3d+road+network+north+jutland+denmark,{'numAttributes': 0},"{'user': 'dwjiang@uci.edu', 'firstName': 'Dani..."
540,1,NaN,3W dataset,The first realistic and public dataset with ra...,Computer,"Classification, Clustering","Multivariate, Time-Series",None,2019-08-15,False,...,#,None,None,APPROVED,719,None,1984,3w+dataset,{'numAttributes': 0},"{'user': 'dwjiang@uci.edu', 'firstName': 'Dani..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,1,NaN,Youtube cookery channels viewers comments in H...,The datasets are taken from top 2 Indian cooki...,Computer,Classification,"Multivariate, Text",None,2019-07-03,False,...,#,None,None,APPROVED,95,None,9800,youtube+cookery+channels+viewers+comments+in+h...,{'numAttributes': 0},"{'user': 'dwjiang@uci.edu', 'firstName': 'Dani..."
269,1,NaN,YouTube Multiview Video Games Dataset,"This dataset contains about 120k instances, ea...",Computer,"Classification, Clustering","Multivariate, Text",None,2013-10-16,True,...,#,None,None,APPROVED,405,"Integer, Real",120000,youtube+multiview+video+games+dataset,{'numAttributes': 0},"{'user': 'dwjiang@uci.edu', 'firstName': 'Dani..."
380,1,NaN,YouTube Spam Collection,It is a public set of comments collected for s...,Computer,Classification,Text,None,2017-03-26,False,...,#,None,None,APPROVED,578,,1956,youtube+spam+collection,{'numAttributes': 0},"{'user': 'dwjiang@uci.edu', 'firstName': 'Dani..."
412,1,NaN,Z-Alizadeh Sani,It was collected for CAD diagnosis.,Life,Classification,None,None,2017-11-17,True,...,#,None,None,APPROVED,84,"Integer, Real",303,z+alizadeh+sani,{'numAttributes': 56},"{'user': 'dwjiang@uci.edu', 'firstName': 'Dani..."
111,1,NaN,Zoo,"Artificial, 7 classes of animals",Life,Classification,Multivariate,None,1990-05-15,True,...,../machine-learning-databases/zoo/zoo.names,None,https://archive.ics.uci.edu/ml/assets/MLimages,APPROVED,25932,"Categorical, Integer",101,zoo,{'numAttributes': 18},"{'user': 'dwjiang@uci.edu', 'firstName': 'Dani..."

In [5]:
df
#df.drop([0,1])
repo.removeByIndex([556,480])

In [6]:
data = repo.getData()
data
#repo.removeByIndex([2,3])
#data2 = repo.getData()

,userID,introPaperID,Name,Abstract,Area,Task,Types,DOI,DateDonated,isTabular,...,URLReadme,URLLink,Graphics,Status,NumHits,AttributeTypes,numInstances,slug,tabular,user
ID,,,,,,,,,,,,,,,,,,,,,
692,407,2287.0,2D elastodynamic metamaterials,This dataset list the location and width of th...,Engineering,Regression,Tabular,None,2021-11-26,True,...,None,None,/ml/datasets/692/Graphics,APPROVED,310,None,20521,2d+elastodynamic+metamaterials,{'numAttributes': 3},"{'user': 'maba9452@colorado.edu', 'firstName':..."
246,1,NaN,"3D Road Network (North Jutland, Denmark)",3D road network with highly accurate elevation...,Computer,"Regression, Clustering","Sequential, Text",None,2013-04-16,False,...,#,None,None,APPROVED,470,Real,434874,3d+road+network+north+jutland+denmark,{'numAttributes': 0},"{'user': 'dwjiang@uci.edu', 'firstName': 'Dani..."
540,1,NaN,3W dataset,The first realistic and public dataset with ra...,Computer,"Classification, Clustering","Multivariate, Time-Series",None,2019-08-15,False,...,#,None,None,APPROVED,719,None,1984,3w+dataset,{'numAttributes': 0},"{'user': 'dwjiang@uci.edu', 'firstName': 'Dani..."
512,1,NaN,A study of Asian Religious and Biblical Texts,"Mainly from Project Gutenberg, we combine Upan...",Social,"Classification, Clustering","Multivariate, Text",None,2019-12-24,False,...,#,None,None,APPROVED,476,None,590,a+study+of+asian+religious+and+biblical+texts,{'numAttributes': 0},"{'user': 'dwjiang@uci.edu', 'firstName': 'Dani..."
314,1,NaN,AAAI 2013 Accepted Papers,This data set compromises the metadata for the...,Computer,Clustering,Multivariate,None,2014-07-30,True,...,#,None,None,APPROVED,147,,150,aaai+2013+accepted+papers,{'numAttributes': 5},"{'user': 'dwjiang@uci.edu', 'firstName': 'Dani..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,1,NaN,Youtube cookery channels viewers comments in H...,The datasets are taken from top 2 Indian cooki...,Computer,Classification,"Multivariate, Text",None,2019-07-03,False,...,#,None,None,APPROVED,95,None,9800,youtube+cookery+channels+viewers+comments+in+h...,{'numAttributes': 0},"{'user': 'dwjiang@uci.edu', 'firstName': 'Dani..."
269,1,NaN,YouTube Multiview Video Games Dataset,"This dataset contains about 120k instances, ea...",Computer,"Classification, Clustering","Multivariate, Text",None,2013-10-16,True,...,#,None,None,APPROVED,405,"Integer, Real",120000,youtube+multiview+video+games+dataset,{'numAttributes': 0},"{'user': 'dwjiang@uci.edu', 'firstName': 'Dani..."
380,1,NaN,YouTube Spam Collection,It is a public set of comments collected for s...,Computer,Classification,Text,None,2017-03-26,False,...,#,None,None,APPROVED,578,,1956,youtube+spam+collection,{'numAttributes': 0},"{'user': 'dwjiang@uci.edu', 'firstName': 'Dani..."
412,1,NaN,Z-Alizadeh Sani,It was collected for CAD diagnosis.,Life,Classification,None,None,2017-11-17,True,...,#,None,None,APPROVED,84,"Integer, Real",303,z+alizadeh+sani,{'numAttributes': 56},"{'user': 'dwjiang@uci.edu', 'firstName': 'Dani..."
111,1,NaN,Zoo,"Artificial, 7 classes of animals",Life,Classification,Multivariate,None,1990-05-15,True,...,../machine-learning-databases/zoo/zoo.names,None,https://archive.ics.uci.edu/ml/assets/MLimages,APPROVED,25932,"Categorical, Integer",101,zoo,{'numAttributes': 18},"{'user': 'dwjiang@uci.edu', 'firstName': 'Dani..."

In [7]:
data

,userID,introPaperID,Name,Abstract,Area,Task,Types,DOI,DateDonated,isTabular,...,URLReadme,URLLink,Graphics,Status,NumHits,AttributeTypes,numInstances,slug,tabular,user
ID,,,,,,,,,,,,,,,,,,,,,
692,407,2287.0,2D elastodynamic metamaterials,This dataset list the location and width of th...,Engineering,Regression,Tabular,None,2021-11-26,True,...,None,None,/ml/datasets/692/Graphics,APPROVED,310,None,20521,2d+elastodynamic+metamaterials,{'numAttributes': 3},"{'user': 'maba9452@colorado.edu', 'firstName':..."
246,1,NaN,"3D Road Network (North Jutland, Denmark)",3D road network with highly accurate elevation...,Computer,"Regression, Clustering","Sequential, Text",None,2013-04-16,False,...,#,None,None,APPROVED,470,Real,434874,3d+road+network+north+jutland+denmark,{'numAttributes': 0},"{'user': 'dwjiang@uci.edu', 'firstName': 'Dani..."
540,1,NaN,3W dataset,The first realistic and public dataset with ra...,Computer,"Classification, Clustering","Multivariate, Time-Series",None,2019-08-15,False,...,#,None,None,APPROVED,719,None,1984,3w+dataset,{'numAttributes': 0},"{'user': 'dwjiang@uci.edu', 'firstName': 'Dani..."
512,1,NaN,A study of Asian Religious and Biblical Texts,"Mainly from Project Gutenberg, we combine Upan...",Social,"Classification, Clustering","Multivariate, Text",None,2019-12-24,False,...,#,None,None,APPROVED,476,None,590,a+study+of+asian+religious+and+biblical+texts,{'numAttributes': 0},"{'user': 'dwjiang@uci.edu', 'firstName': 'Dani..."
314,1,NaN,AAAI 2013 Accepted Papers,This data set compromises the metadata for the...,Computer,Clustering,Multivariate,None,2014-07-30,True,...,#,None,None,APPROVED,147,,150,aaai+2013+accepted+papers,{'numAttributes': 5},"{'user': 'dwjiang@uci.edu', 'firstName': 'Dani..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,1,NaN,Youtube cookery channels viewers comments in H...,The datasets are taken from top 2 Indian cooki...,Computer,Classification,"Multivariate, Text",None,2019-07-03,False,...,#,None,None,APPROVED,95,None,9800,youtube+cookery+channels+viewers+comments+in+h...,{'numAttributes': 0},"{'user': 'dwjiang@uci.edu', 'firstName': 'Dani..."
269,1,NaN,YouTube Multiview Video Games Dataset,"This dataset contains about 120k instances, ea...",Computer,"Classification, Clustering","Multivariate, Text",None,2013-10-16,True,...,#,None,None,APPROVED,405,"Integer, Real",120000,youtube+multiview+video+games+dataset,{'numAttributes': 0},"{'user': 'dwjiang@uci.edu', 'firstName': 'Dani..."
380,1,NaN,YouTube Spam Collection,It is a public set of comments collected for s...,Computer,Classification,Text,None,2017-03-26,False,...,#,None,None,APPROVED,578,,1956,youtube+spam+collection,{'numAttributes': 0},"{'user': 'dwjiang@uci.edu', 'firstName': 'Dani..."
412,1,NaN,Z-Alizadeh Sani,It was collected for CAD diagnosis.,Life,Classification,None,None,2017-11-17,True,...,#,None,None,APPROVED,84,"Integer, Real",303,z+alizadeh+sani,{'numAttributes': 56},"{'user': 'dwjiang@uci.edu', 'firstName': 'Dani..."
111,1,NaN,Zoo,"Artificial, 7 classes of animals",Life,Classification,Multivariate,None,1990-05-15,True,...,../machine-learning-databases/zoo/zoo.names,None,https://archive.ics.uci.edu/ml/assets/MLimages,APPROVED,25932,"Categorical, Integer",101,zoo,{'numAttributes': 18},"{'user': 'dwjiang@uci.edu', 'firstName': 'Dani..."

In [8]:
import pandas as pd
repo = Repository()
repo.load()
data = repo.getData()

In [9]:
data1 = data.filter(items=[556], axis="index")

In [10]:
index = 556
if index in data.index:
    data.drop(index, axis="index", inplace=True)
data
data = pd.concat([data, data1])
data.filter(items=[556], axis="index")

,userID,introPaperID,Name,Abstract,Area,Task,Types,DOI,DateDonated,isTabular,...,URLReadme,URLLink,Graphics,Status,NumHits,AttributeTypes,numInstances,slug,tabular,user
ID,,,,,,,,,,,,,,,,,,,,,
556,1,NaN,: Simulated Data set of Iraqi tourism places,Simulated Data set of Iraqi tourism places wit...,Computer,"Classification, Clustering",Multivariate,None,2020-01-10,False,...,#,None,None,APPROVED,301,None,232,simulated+data+set+of+iraqi+tourism+places,{'numAttributes': 0},"{'user': 'dwjiang@uci.edu', 'firstName': 'Dani..."

##

### Add By IDs##

In [11]:
repo = Repository()
repo.addByIDs([556, 558])

In [12]:
repo.getData()

,userID,introPaperID,Name,Abstract,Area,Task,Types,DOI,DateDonated,isTabular,...,URLReadme,URLLink,Graphics,Status,NumHits,AttributeTypes,numInstances,slug,tabular,user
ID,,,,,,,,,,,,,,,,,,,,,
556,1,NaN,: Simulated Data set of Iraqi tourism places,Simulated Data set of Iraqi tourism places wit...,Computer,"Classification, Clustering",Multivariate,None,2020-01-10,False,...,#,None,None,APPROVED,301,None,232,simulated+data+set+of+iraqi+tourism+places,{'numAttributes': 0},"{'user': 'dwjiang@uci.edu', 'firstName': 'Dani..."
558,1,NaN,Monolithic Columns in Troad and Mysia Region,These data have been constituted to clarify th...,Computer,Classification,Multivariate,None,2020-02-08,False,...,#,None,None,APPROVED,100,None,11,monolithic+columns+in+troad+and+mysia+region,{'numAttributes': 0},"{'user': 'dwjiang@uci.edu', 'firstName': 'Dani..."