In [1]:
from mlrgetpy.Repository import Repository

In [2]:
repo = Repository()

In [14]:
repo.load()
df = repo.getData()
a:list = [1,2]
df.filter(items=[719, 691, 735, 693,683,696,690,730,613], axis="index")
df

,Name,Abstract,Area,Task,DateDonated,NumHits,AttributeTypes,numInstances,numAttributes
ID,,,,,,,,,
556,: Simulated Data set of Iraqi tourism places,Simulated Data set of Iraqi tourism places wit...,Computer,"Classification, Clustering",2020-01-10,301,None,232,0.0
480,2.4 GHZ Indoor Channel Measurements,"Measurement of the S21,consists of 10 sweeps, ...",Computer,Classification,2018-11-30,848,Real,7840,5.0
692,2D elastodynamic metamaterials,This dataset list the location and width of th...,Engineering,Regression,2021-11-26,312,None,20521,3.0
246,"3D Road Network (North Jutland, Denmark)",3D road network with highly accurate elevation...,Computer,"Regression, Clustering",2013-04-16,470,Real,434874,0.0
540,3W dataset,The first realistic and public dataset with ra...,Computer,"Classification, Clustering",2019-08-15,720,None,1984,0.0
...,...,...,...,...,...,...,...,...,...
535,Youtube cookery channels viewers comments in H...,The datasets are taken from top 2 Indian cooki...,Computer,Classification,2019-07-03,95,None,9800,0.0
269,YouTube Multiview Video Games Dataset,"This dataset contains about 120k instances, ea...",Computer,"Classification, Clustering",2013-10-16,407,"Integer, Real",120000,0.0
380,YouTube Spam Collection,It is a public set of comments collected for s...,Computer,Classification,2017-03-26,582,,1956,0.0
412,Z-Alizadeh Sani,It was collected for CAD diagnosis.,Life,Classification,2017-11-17,84,"Integer, Real",303,56.0
111,Zoo,"Artificial, 7 classes of animals",Life,Classification,1990-05-15,25936,"Categorical, Integer",101,18.0

In [5]:
df
#df.drop([0,1])
repo.removeByIndex([556,480])

In [6]:
data = repo.getData()
data
#repo.removeByIndex([2,3])
#data2 = repo.getData()

,Name,Abstract,Area,Task,DateDonated,NumHits,AttributeTypes,numInstances,numAttributes
ID,,,,,,,,,
692,2D elastodynamic metamaterials,This dataset list the location and width of th...,Engineering,Regression,2021-11-26,312,None,20521,3.0
246,"3D Road Network (North Jutland, Denmark)",3D road network with highly accurate elevation...,Computer,"Regression, Clustering",2013-04-16,470,Real,434874,0.0
540,3W dataset,The first realistic and public dataset with ra...,Computer,"Classification, Clustering",2019-08-15,720,None,1984,0.0
512,A study of Asian Religious and Biblical Texts,"Mainly from Project Gutenberg, we combine Upan...",Social,"Classification, Clustering",2019-12-24,476,None,590,0.0
314,AAAI 2013 Accepted Papers,This data set compromises the metadata for the...,Computer,Clustering,2014-07-30,147,,150,5.0
...,...,...,...,...,...,...,...,...,...
535,Youtube cookery channels viewers comments in H...,The datasets are taken from top 2 Indian cooki...,Computer,Classification,2019-07-03,95,None,9800,0.0
269,YouTube Multiview Video Games Dataset,"This dataset contains about 120k instances, ea...",Computer,"Classification, Clustering",2013-10-16,407,"Integer, Real",120000,0.0
380,YouTube Spam Collection,It is a public set of comments collected for s...,Computer,Classification,2017-03-26,582,,1956,0.0
412,Z-Alizadeh Sani,It was collected for CAD diagnosis.,Life,Classification,2017-11-17,84,"Integer, Real",303,56.0
111,Zoo,"Artificial, 7 classes of animals",Life,Classification,1990-05-15,25936,"Categorical, Integer",101,18.0

In [7]:
data

,Name,Abstract,Area,Task,DateDonated,NumHits,AttributeTypes,numInstances,numAttributes
ID,,,,,,,,,
692,2D elastodynamic metamaterials,This dataset list the location and width of th...,Engineering,Regression,2021-11-26,312,None,20521,3.0
246,"3D Road Network (North Jutland, Denmark)",3D road network with highly accurate elevation...,Computer,"Regression, Clustering",2013-04-16,470,Real,434874,0.0
540,3W dataset,The first realistic and public dataset with ra...,Computer,"Classification, Clustering",2019-08-15,720,None,1984,0.0
512,A study of Asian Religious and Biblical Texts,"Mainly from Project Gutenberg, we combine Upan...",Social,"Classification, Clustering",2019-12-24,476,None,590,0.0
314,AAAI 2013 Accepted Papers,This data set compromises the metadata for the...,Computer,Clustering,2014-07-30,147,,150,5.0
...,...,...,...,...,...,...,...,...,...
535,Youtube cookery channels viewers comments in H...,The datasets are taken from top 2 Indian cooki...,Computer,Classification,2019-07-03,95,None,9800,0.0
269,YouTube Multiview Video Games Dataset,"This dataset contains about 120k instances, ea...",Computer,"Classification, Clustering",2013-10-16,407,"Integer, Real",120000,0.0
380,YouTube Spam Collection,It is a public set of comments collected for s...,Computer,Classification,2017-03-26,582,,1956,0.0
412,Z-Alizadeh Sani,It was collected for CAD diagnosis.,Life,Classification,2017-11-17,84,"Integer, Real",303,56.0
111,Zoo,"Artificial, 7 classes of animals",Life,Classification,1990-05-15,25936,"Categorical, Integer",101,18.0

In [8]:
import pandas as pd
repo = Repository()
repo.load()
data = repo.getData()

In [9]:
data1 = data.filter(items=[556], axis="index")

In [10]:
index = 556
if index in data.index:
    data.drop(index, axis="index", inplace=True)
data
data = pd.concat([data, data1])
data.filter(items=[556], axis="index")

,Name,Abstract,Area,Task,DateDonated,NumHits,AttributeTypes,numInstances,numAttributes
ID,,,,,,,,,
556,: Simulated Data set of Iraqi tourism places,Simulated Data set of Iraqi tourism places wit...,Computer,"Classification, Clustering",2020-01-10,301,None,232,0.0

##

### Add By IDs##

In [11]:
repo = Repository()
repo.addByIDs([556, 558])

In [12]:
repo.getData()

,Name,Abstract,Area,Task,DateDonated,NumHits,AttributeTypes,numInstances,numAttributes
ID,,,,,,,,,
556,: Simulated Data set of Iraqi tourism places,Simulated Data set of Iraqi tourism places wit...,Computer,"Classification, Clustering",2020-01-10,301,None,232,0.0
558,Monolithic Columns in Troad and Mysia Region,These data have been constituted to clarify th...,Computer,Classification,2020-02-08,100,None,11,0.0